extends layout.pug 

block content 
    .wrapper 
        .home-page
            h1 My Blog
            h2 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
            a.btn(href='/create') Make a post